{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Oeuvre Display</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
        .title {
            margin-top: 4vh;
            display: flex;
            justify-content: center;
        }

        .work {
            height: 75vh;
        }

        .info {
            height: 30%;
        }

        .chat {
            height: 70%;
        }

        .likes {
            height: 9vh;
        }

        .container-fluid {
            position: absolute;
            bottom:0;
            margin:0;
        }
    </style>

</head>
<body>
    <div class = "title">
        <img src = "../../static/oeuvre.png">
    </div>
    <div class = "container-fluid">
        <div class = "row">
            <div class = "col-sm-8 work bg-primary">
            </div>
            <div class = "col-sm-4">
                <div class = "row info bg-success"></div>
                <div class = "row chat bg-warning"></div>
            </div>
        </div>
        <div class = "row likes bg-danger">
        </div>
    </div>
</body>
<script>
    var likes = 0;
    var url = window.location.href;

    var socket = new WebSocket(
        'ws://' + window.location.host + '/ws/draw');

    socket.onmessage = function(receivedMessage) {
        var received = JSON.parse(receivedMessage.data);
        console.log("Received: " + JSON.stringify(received));

        if ('diff' in received) {
            likes += received['diff'];
            console.log(likes);   
        }
        
        if ('comment' in received) {
            console.log(received['comment'])
        }
    }

    socket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

</script>
</html>
